.container
  .points

    - if @day_sale.present?
      .info-block
        %div Day sale is opened
        %div= "#{distance_of_time_in_words(Time.now - @day_sale.start)} ago"

      = link_to 'START SALES', point_till_path(@point), class: 'item-sales'
    - else
      - if @last_day_sale.present?
        .info-block
          %div Last day sale is closed
          %div= "#{distance_of_time_in_words(Time.now - @last_day_sale.end)} ago"
      - else
        .info-block= "Open your first Day Sale"
      = link_to 'OPEN DAY SALE', sale_point_path(@point), class: 'item-day-sales'

    = link_to 'PRODUCTS', point_products_path(@point), class: 'item-products'