.container
  .day-sale
    .info-block CLOSE DAY SALES

    - @orders.each do |order|
      - raw_code = JSON.parse( order.raw_code, symbolize_names: true )
      - raw_code.dig(:products).each do |product|
        - if raw_code.dig(:products).count == 1 and product.dig(:repeat) == 1
          .single-item.justify-between
            .title= product.dig(:title)
            .data
              .time{ val: order.created_at }
              .price= "#{product.dig(:price)}₽"
          %br

        - else
          - product.dig(:repeat).times do
            .multiply-item.justify-between
              .title= product.dig(:title)
              .data
                .price= "#{product.dig(:price)}₽"

      - if raw_code.dig(:products).count > 1 or raw_code.dig(:products, 0, :repeat) > 1
        .check
          .time{ val: order.created_at }
          .cost= "#{raw_code.dig(:price)}₽"

    .info-block
      = "#{number_with_delimiter(sum_orders(@orders), :delimiter => '.')} ₽"