.container
  .info-block
    = t :statistics

  .cards
    - @day_sales.each do |day_sale|
      .col-xs-12.col-sm-6.col-md-4.col-lg-3
        = link_to(sales_point_orders_path( @point, day_sale: day_sale.id ), class: 'coffee-card') do
          .datetime{ val: day_sale.start }
          .datetime{ val: day_sale.end }
          .hours= "#{t :hours}: #{( (day_sale.end - day_sale.start) / 1.hour ).round}"
          .revenue= "#{t :revenue}: #{(sum_orders day_sale.orders)}"
          .user= day_sale.user.full_name

  = paginate @day_sales, theme: 'twitter-bootstrap-4'