.container
  .simple-calendar
    .calendar-heading
      = link_to(_back_url) do
        СТАТИСТИКА

    - @orders.each do |order|
      - order.products.each do |product|
        - if order.products.count == 1
          .single-item
            .title= product.title
            .data
              .time= order.created_at
              .price= "#{product.price}₽"
        - else
          .item
            .title= product.title
            .data
              .price= "#{product.price}₽"
      - if order.products.count == 1
        %br
      - if order.products.count > 1
        .check
          .time= order.created_at
          .cost= "#{order.products.sum(:price)}₽"

    .calendar-heading
      = "#{number_with_delimiter(sum_orders( @orders ), :delimiter => '.')} ₽"