%nav.navbar.navbar-light.navbar-static-top
  .container
    .navbar-logo
      = link_to(root_path) do
        %h1 Coffee Shop
    - if @point.present?
      .point-title
        - if params[:controller] == 'orders'
          = link_to(calendar_path(id: Time.now.strftime('%Y-%m-%d'), point: @point)) do
            %h6= @point.title
        - else
          = link_to(orders_path(point: @point)) do
            %h6= @point.title