%nav.navbar.navbar-light.navbar-static-top
  .container
    - if current_user.present?
      .navbar-logo
        = link_to(_back_url) do
          = glyph('arrow-left')
        = link_to( point_path( @current_point ), class: 'logo-links' ) do
          = image_tag 'logo.png', size: '50x50'
          .point-title
            = truncate(@current_point.title, length: 12, omission: '..')

    - else
      .navbar-logo-unauth
        = link_to( root_path, class: 'logo-links' ) do
          = image_tag :logo, size: '50x50'
          .point-title
            = 'Coffe Shop'